html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-brand-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --title-text-color: #2e2f42;
  --body-text-color: #434455;
  --accent-color: #e7e9fc;
  --background-section-color: #f4f4fd;
  --background-dark-color: #2e2f42;
  --background-white-color: #ffffff;
}

body {
  background-color: var(--background-white-color);
  color: var(--body-text-color);
  font-family: 'Roboto', sans-serif;
}
/* Скидання значень */
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}
/* Контейнер */
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  outline: 5px solid tomato;
}

/* Шапка */

.page-header {
  box-sizing: border-box;
  border-bottom: 1px solid var(--accent-color);
  height: 72px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.page-header.portfolio {
  margin-bottom: 96px;
}
/* Логотип */
.logo {
  color: var(--title-text-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-text-header {
  color: var(--title-text-color);
}

/* Навігація */
.main-nav,
.page-nav,
.main-filters {
  display: flex;
  align-items: center;
}
.main-nav {
  margin-bottom: 96px;
}

.site-nav {
  display: flex;
  margin-left: 76px;
}

.site-nav .item + .item,
.tel-email-contacs .item + .item {
  margin-left: 40px;
}

.site-nav .link,
.tel-email-contacs {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--pressed-state-color);
}
/* Контакти */

.tel-email-contacs {
  display: flex;
}
.tel-email .link {
  color: var(--body-text-color);
}
.tel-email {
  display: flex;
  margin-left: auto;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.tel-email .link:hover,
.tel-email .link:focus {
  color: var(--pressed-state-color);
}

/* Секція герой */

.hero {
  padding-top: 188px;
  padding-bottom: 188px;
  padding-left: 472px;
  padding-right: 472px;
  background-color: var(--background-dark-color);

  text-align: center;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 48px;

  color: var(--background-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* Кнопки */
.button {
  display: inline-block;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  background-color: var(--primary-brand-color);
  color: var(--background-white-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;
}

.button.hero-btn:hover,
.button.hero-btn:focus {
  background-color: var(--pressed-state-color);
}
/* Кнопки портфоліо */
.main-filters .item + .item,
.advantages .item + .item {
  margin-left: 24px;
}
.main-filters {
  justify-content: center;
  margin-bottom: 72px;
}
.button.filters {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  min-width: 69px;

  background-color: var(--background-section-color);
  color: var(--primary-brand-color);
}

.button.filters:hover,
.button.filters:focus {
  background-color: var(--pressed-state-color);
  color: var(--background-white-color);
}

.section-team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section-title,
.section-team-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
/* Секція 1 */
.advantages {
  display: flex;
}
.advantages .title,
.services-title,
.section-team-title-empl {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-advantages-text,
.section-team-text,
.services-text,
.footer-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.services-text {
  color: var(--body-text-color);
}
/* Секція 3 */
.section-team {
  background-color: var(--background-section-color);
}
.section-team-card {
  background-color: var(--background-white-color);
}
/* футер */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--background-dark-color);
  color: var(--background-section-color);
}
.footer .logo {
  margin-bottom: 16px;
}
.logo-text-footer {
  color: var(--background-section-color);
}
